@import "tailwindcss";

/* ✅ Personnalisation du dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* ✅ Mode clair / sombre via le body */
body {
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f3f4f6; /* gray.100 */
  color: #111827;           /* gray.900 */
}

.dark body {
  background-color: #111827; /* gray.900 */
  color: #f3f4f6;            /* gray.100 */
}

html {
  scroll-behavior: smooth;
}
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}
